@mixin h1 {
  font-size: 36px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.05em;
}

@mixin h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.05em;
}

@mixin h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.05em;
}

@mixin h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.05em;
}

@mixin h5 {
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05em;
}

@mixin p1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

@mixin p2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
}

@mixin caption {
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
}

@mixin small {
  font-size: 10px;
  font-weight: 400;
  line-height: 1;
}

@mixin generate-colors($hue, $saturation, $values, $name, $base) {
  @each $value in $values {
    $i: index($values, $value) - 1;
    $lightness: $i * 5% + $base * 1%;
    --color-#{$name}-#{$value}: hsl(#{$hue}, #{$saturation}, #{$lightness});
  }
}

@mixin generate-grays($hue, $saturation, $values, $name) {
  @each $value in $values {
    $i: index($values, $value) - 1;
    $lightness: $i * 6% + 5%;
    --color-#{$name}-#{$value}: hsl(#{$hue}, #{$saturation}, #{$lightness});
  }
}

@mixin repeatColorBlock($colors) {
  @each $newcolor in $colors {
    $color: $newcolor !global;
    @content;
  }
}

// breakpoints
@mixin lg-block {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin md-block {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin sm-block {
  @media screen and (min-width: 768px) {
    @content;
  }
}

// cols
@mixin cols($i) {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  & > * {
    width: calc(100% / #{$i} - (16px / #{$i} * #{$i - 1}));
  }
}
