:root {
  // colors
  --color-white: #ffffff;

  --color-main-colors-gray-10: #000000;
  --color-main-colors-gray-9-5: #010101;
  --color-main-colors-gray-9: #020202;
  --color-main-colors-gray-8-5: #030303;
  --color-main-colors-gray-8: #040404;
  --color-main-colors-gray-7: #070707;
  --color-main-colors-gray-6: #090909;
  --color-main-colors-gray-5: #0b0b0b;
  --color-main-colors-gray-4: #292929;
  --color-main-colors-gray-3: #464646;
  --color-main-colors-gray-2: #646464;
  --color-main-colors-gray-1-5: #737373;
  --color-main-colors-gray-1: #818181;
  --color-main-colors-gray-0-5: #909090;
  --color-main-colors-gray-0: #9f9f9f;
  --color-main-colors-gray--1: #e6e6e6;

  --color-main-colors-orange-10: #311505;
  --color-main-colors-orange-9-5: #512309;
  --color-main-colors-orange-9: #7a340d;
  --color-main-colors-orange-8-5: #a34612;
  --color-main-colors-orange-8: #cb5716;
  --color-main-colors-orange-7: #e1631c;
  --color-main-colors-orange-6: #f4691b;
  --color-main-colors-orange-5: #fc7a31;
  --color-main-colors-orange-4: #ff9357;
  --color-main-colors-orange-3: #f89b67;
  --color-main-colors-orange-2: #f9b48d;
  --color-main-colors-orange-1-5: #fbcdb3;
  --color-main-colors-orange-1: #fde1d1;
  --color-main-colors-orange-0-5: #fff2eb;

  --color-complementary-colors-purple-10: #0f0324;
  --color-complementary-colors-purple-9-5: #1c0c38;
  --color-complementary-colors-purple-9: #29154d;
  --color-complementary-colors-purple-8-5: #361f61;
  --color-complementary-colors-purple-8: #432876;
  --color-complementary-colors-purple-7: #5e3a9e;
  --color-complementary-colors-purple-6: #784dc7;
  --color-complementary-colors-purple-5: #925ff0;
  --color-complementary-colors-purple-4: #a87ff3;
  --color-complementary-colors-purple-3: #be9ff6;
  --color-complementary-colors-purple-2: #d3bff9;
  --color-complementary-colors-purple-1-5: #decffa;
  --color-complementary-colors-purple-1: #e9dffc;
  --color-complementary-colors-purple-0-5: #f4effd;

  --color-complementary-colors-green-10: #057402;
  --color-complementary-colors-green-9-5: #158212;
  --color-complementary-colors-green-9: #258f22;
  --color-complementary-colors-green-8-5: #349d32;
  --color-complementary-colors-green-8: #44ab42;
  --color-complementary-colors-green-7: #64c661;
  --color-complementary-colors-green-6: #83e281;
  --color-complementary-colors-green-5: #a3fda1;
  --color-complementary-colors-green-4: #b5fdb4;
  --color-complementary-colors-green-3: #c8fec7;
  --color-complementary-colors-green-2: #dafed9;
  --color-complementary-colors-green-1-5: #e3fee3;
  --color-complementary-colors-green-1: #edffec;
  --color-complementary-colors-green-0-5: #f6fff6;

  --color-complementary-colors-blue-0-5: #ebf6ff;
  --color-complementary-colors-blue-1: #d7edff;
  --color-complementary-colors-blue-1-5: #c2e5ff;
  --color-complementary-colors-blue-2: #aedcff;
  --color-complementary-colors-blue-3: #86caff;
  --color-complementary-colors-blue-4: #5db9ff;
  --color-complementary-colors-blue-5: #35a7ff;
  --color-complementary-colors-blue-6: #2a87ce;
  --color-complementary-colors-blue-7: #20679e;
  --color-complementary-colors-blue-8: #15476d;
  --color-complementary-colors-blue-8-5: #103755;
  --color-complementary-colors-blue-9: #0b273d;
  --color-complementary-colors-blue-9-5: #051724;
  --color-complementary-colors-blue-10: #00070c;

  --color-complementary-colors-red-0-5: #ffeeef;
  --color-complementary-colors-red-1: #ffdee0;
  --color-complementary-colors-red-1-5: #ffcdd0;
  --color-complementary-colors-red-2: #ffbdc1;
  --color-complementary-colors-red-3: #ff9ba2;
  --color-complementary-colors-red-4: #ff7a83;
  --color-complementary-colors-red-5: #ff5964;
  --color-complementary-colors-red-6: #d64751;
  --color-complementary-colors-red-7: #ac353d;
  --color-complementary-colors-red-8: #83242a;
  --color-complementary-colors-red-8-5: #6e1b20;
  --color-complementary-colors-red-9: #591216;
  --color-complementary-colors-red-9-5: #45090d;
  --color-complementary-colors-red-10: #300003;

  --color-complementary-colors-yellow-10: #231e00;
  --color-complementary-colors-yellow-9-5: #393208;
  --color-complementary-colors-yellow-9: #4f460f;
  --color-complementary-colors-yellow-8-5: #655a17;
  --color-complementary-colors-yellow-8: #7b6e1e;
  --color-complementary-colors-yellow-7: #a7972e;
  --color-complementary-colors-yellow-6: #d3bf3d;
  --color-complementary-colors-yellow-5: #ffe74c;
  --color-complementary-colors-yellow-4: #ffec70;
  --color-complementary-colors-yellow-3: #fff194;
  --color-complementary-colors-yellow-2: #fff5b7;
  --color-complementary-colors-yellow-1-5: #fff8c9;
  --color-complementary-colors-yellow-1: #fffadb;
  --color-complementary-colors-yellow-0-5: #fffded;

  --color-shadow-light-gray: rgba(41, 41, 41, 0.08);
}
