@import "./mixins";
:root {
  // colors
  $color-suffix: "10", "9-5", "9", "8-5", "8", "7", "6", "5", "4", "3", "2",
    "1-5", "1", "0-5";
  $gray-suffix: "10", "9-5", "9", "8-5", "8", "7", "6", "5", "4", "3", "2",
    "1-5", "1", "0-5", "0", "-1";

  @include generate-colors(356, 100%, $color-suffix, "red", 25);
  @include generate-colors(022, 100%, $color-suffix, "orange", 25);
  @include generate-colors(048, 85%, $color-suffix, "yellow", 25);
  @include generate-colors(119, 50%, $color-suffix, "green", 25);
  @include generate-colors(206, 85%, $color-suffix, "blue", 25);
  @include generate-colors(261, 100%, $color-suffix, "violet", 25);

  @include generate-grays(0, 0%, $gray-suffix, "gray");

  --color-white: #ffffff;

  --color-shadow-light-gray: rgba(41, 41, 41, 0.08);
}
