@import "./variables.scss";
@import "./fonts";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gotham Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-gray-9-5);
}

#app {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  height: calc(100vh - 78px);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__aside {
    max-height: 100%;
    overflow-y: auto;
  }
}

.flex {
  display: flex;
  align-items: center;

  &.gap {
    &-16 {
      gap: 16px;
    }
  }

  & + & {
    margin-top: 24px;
  }

  &-start {
    align-items: flex-start;
  }

  &-col {
    flex-direction: column;
  }

  &-4 {
    flex-wrap: wrap;

    & > * {
      width: calc(25% - 12px);
    }
  }

  &-3 {
    flex-wrap: wrap;

    & > * {
      width: calc((100% / 3) - (16px / 3 * 2));
    }
  }

  &.justify {
    &-between {
      justify-content: space-between;
    }
  }
}

hr {
  border: 0;
  border-bottom: 1px solid var(--color-gray--1);
}

code {
  background-color: var(--color-orange-0-5);
  padding: 0 4px;
}

::-webkit-scrollbar {
  background: transparent;
  width: 6px;
  height: 6px;
  margin-left: 10px;
  position: fixed;
  top: 0;
  z-index: -1;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--color-orange-5);
}

::selection {
  background-color: var(--color-gray-2);
  color: var(--color-white);
}

.mb {
  &-2 {
    margin-bottom: 2px;
  }
  &-4 {
    margin-bottom: 4px;
  }
  &-8 {
    margin-bottom: 8px;
  }
  &-16 {
    margin-bottom: 16px;
  }
  &-24 {
    margin-bottom: 24px;
  }
  &-48 {
    margin-bottom: 48px;
  }
}

.mt {
  &-24 {
    margin-top: 24px;
  }
}

h4 {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.05em;
}

.form {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
