@import "./variables.scss";
@import "./mixins.scss";
@import "./fonts";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gotham Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-gray-9-5);
  overflow-x: hidden;
}

#app {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: 0 auto;
}

.content {
  height: calc(100vh - 50px);

  display: flex;
  flex-direction: column;
  overflow: hidden;

  @include lg-block {
    height: calc(100vh - 78px);
  }

  &__aside {
    max-height: 100%;
    overflow-y: auto;
  }
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &.gap {
    &-16 {
      gap: 16px;
    }
  }

  & + & {
    margin-top: 24px;
  }

  &-start {
    align-items: flex-start;
  }

  &-end {
    align-items: flex-end;
  }

  &-col {
    flex-direction: column;
  }

  &-4 {
    flex-wrap: wrap;

    & > * {
      width: calc(25% - 12px) !important;
    }
  }

  &-3 {
    @include md-block {
      flex-wrap: wrap;

      & > * {
        width: calc((100% / 3) - (16px / 3 * 2)) !important;
      }
    }
  }

  &.justify {
    &-between {
      justify-content: space-between;
    }
  }
}

hr {
  border: 0;
  border-bottom: 1px solid var(--color-gray--1);
}

code {
  background-color: var(--color-blue-1);
  padding: 0 4px;
}

::-webkit-scrollbar {
  background: transparent;
  width: 6px;
  height: 6px;
  margin-left: 10px;
  position: fixed;
  top: 0;
  z-index: -1;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--color-gray-0);
  border-radius: 6px;
}

::selection {
  background-color: var(--color-gray-2);
  color: var(--color-white);
}

.mb {
  &-2 {
    margin-bottom: 2px;
  }
  &-4 {
    margin-bottom: 4px;
  }
  &-8 {
    margin-bottom: 8px;
  }
  &-16 {
    margin-bottom: 16px;
  }
  &-24 {
    margin-bottom: 24px;
  }
  &-48 {
    margin-bottom: 48px;
  }
}

.mt {
  &-2 {
    margin-top: 2px;
  }
  &-4 {
    margin-top: 4px;
  }
  &-8 {
    margin-top: 8px;
  }
  &-16 {
    margin-top: 16px;
  }
  &-24 {
    margin-top: 24px;
  }
  &-48 {
    margin-top: 48px;
  }
}

.ml {
  &-a {
    margin-left: auto;
  }
  &-2 {
    margin-left: 2px;
  }
  &-4 {
    margin-left: 4px;
  }
  &-8 {
    margin-left: 8px;
  }
  &-16 {
    margin-left: 16px;
  }
  &-24 {
    margin-left: 24px;
  }
  &-48 {
    margin-left: 48px;
  }
}

h4 {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.05em;
}

.form {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}
.ripple-effect {
  animation: ripple 0.2s linear;
}

@keyframes ripple {
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
