@import "./variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-main-colors-gray-4);
}

#app {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  height: calc(100vh - 78px);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__aside {
    max-height: 100%;
    overflow-y: auto;
  }
}

.flex {
  display: flex;
  align-items: center;

  &.gap {
    &-16 {
      gap: 16px;
    }
  }

  & + & {
    margin-top: 24px;
  }

  &-start {
    align-items: flex-start;
  }

  &-4 {
    flex-wrap: wrap;

    & > * {
      width: calc(25% - 12px);
    }
  }
}

hr {
  border: 0;
  border-bottom: 1px solid var(--color-main-colors-gray--1);
}

::-webkit-scrollbar {
  background: transparent;
  width: 6px;
  margin-left: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--color-main-colors-orange-5);
}

.mb {
  &-2 {
    margin-bottom: 2px;
  }
  &-8 {
    margin-bottom: 8px;
  }
  &-16 {
    margin-bottom: 16px;
  }
  &-24 {
    margin-bottom: 24px;
  }
}

.mt {
  &-24 {
    margin-top: 24px;
  }
}

h4 {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.05em;
}

.form {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
